body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-image: url('./background.jpeg');
  object-fit: cover;
  background-repeat: no-repeat;
  animation-name: fadein;
  animation-duration: 1s;
  transition: background-image 1s ease-in-out;
}

@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1;}
}


    /* font-family: sans-serif;
    box-sizing: border-box;
    /* background-image: url(./background.jpeg); */
    /* background-image: url(./waterfall.gif);
    object-fit: fill;
    background-repeat: space;
    background-size: 2000px */


.navbar{
max-width: 1100px;
     justify-content: center;
    align-items: baseline;
}

.navbar-container{
    width: 100%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mandolin-a1ce1.appspot.com/o/mandolinwood.png?alt=media&token=0f2e1fbf-e7e6-4ed4-bedf-70c8f83e7ca5);
    position: absolute;
    top: 0;
    left: 0;
}

.navbar ul{ 
  display: inline-flex;
}

.navbar li{
  text-decoration: none;
  list-style-type: none;
}

.disable-drag{
    pointer-events: none;
    background-color: blue;
    width: 2000px;
}



.navbar li a{
  display: inline-flex;
  color: white;
  text-decoration: none;
transition: 0.2s;
margin-left: 20px;
}


.navbar h1{
  margin-left: 20px;
  font-weight: 200;
  font-size: 24px;
  color: white;
  top: 0;
  display: inline-flex;
} 

.nav-container{
  margin: auto;
  border: 1px solid black;
  background-color: rgb(80, 55, 35);
}



span{
      color: white;
    font-size: smaller;
    margin: auto;
    margin-top: 10px;
}



h3{
    color: white;
    font-weight: 800;
    font-size: 20px;
}


button{ /* button styles for recording and song playback containers */

    padding: 5px 15px;
    color: white;
    font-weight: 800;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #25090d;
}

li{
  list-style-type: none;
}


#volume-icon{
    width: 30px;
    margin-top: -4px;
    cursor: pointer;
}

a{
  text-decoration: none;
  color: white;


}

a:hover{
      color:#a58a62;
}


li a:hover{
        color:#a58a62;
}


#recorder-prompt{
  
}


.hide{
  display: none;
}


#background-selector{
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 3px;
    outline: none;
    border: none;
    display: flex;
    background-color: #291b07;
    overflow: hidden;
    width: 260px;
    height: 140px;
}


.fa, .fas {
    font-weight: 900;
    color: darkgrey;
    margin: -149px -49px -70px -;
    top: 0;
    position: absolute;
    left: 0;
    margin: 5px;
    font-size: xx-large;