

.recording-form-container{
    height: 340px;
    align-items: center;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    background: rgb(62, 50, 36);
    width: 310px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    width: 290px;
    height: 299px;
    /* box-shadow: 0px 1px 11px 0.2px #9b9b9b; */
}

.recording-form-container-header{

height: 360px;
    align-items: center;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    background: rgb(62, 50, 36);
    width: 310px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
}

h5{
margin: auto;

    width: 100%;
    height: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 800;
    font-size: 20px;
   
}
.recording-form{
  width: 80%;
  height: 80%;
  margin: auto;
  align-items: center;
  position: absolute;
  display: flex;
}


.volume{
     width: 100%;
    margin: left;
    margin-left: 25px;
    font-size: 20px;
    margin-top: -1px;
}

.controls{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.recording-buttons{
    border: 1px solid white;
    margin: auto;
    width: 80%;
}

#record{
     display: block;
    width: 84%;
    
}


#save{
    padding: 5px 15px;
    color: white;
    font-weight: 800;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #25090d;
    width: 40%;
    margin: 5px;

}




#stop{
    padding: 5px 15px;
    color: white;
    font-weight: 800;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #25090d;
    width: 40%;
    margin: 5px;
}

 #save:active{
  background:#40110f;
}

#stop:active{
  background:#40110f;
}

#song-title{
    height: 15%;
    width: 80%;
    text-align: center;
}

#song-artist{
height: 15%;
    width: 80%;
    text-align: center;
  }

  #song-title-header{
    margin: 0;
    color: white;
    font-weight: 200;
  }

  #song-artist-header{
    margin: 0;
    font-weight: 200;
    color:white;
  }

  #volume-slider{
  padding: 0;
  }


#recording-form__close{
  position: absolute;
    left: 0;
    padding: 20px;
    top: 0;
    font-size: 20px;
    margin: auto;
    color: white;
    cursor: pointer;
        z-index: 40;
}


  input[type="range"]{
    position: relative;  
    -webkit-appearance: slider-horizontal;
    margin: auto;
 }

 #control-heading{
    margin: 0;
    color: white;
    font-weight: 200;
    font-size: 20px;
 }

 .fas {
   color: white;
 }

 .fa-trash{
 font-size: 15px;
 cursor: pointer;
 }

 .close-button{
  text-align: right;
  color: white;
  cursor: pointer;
  margin: auto;
  right: 0;
  position: absolute;
  cursor:pointer;
 }

 .hide{
  display: none;
}


