.song-library-container {
    width: 310px;
    background: rgb(62, 50, 36);
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
}

.song-library{
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
    background-position: center;
    flex-direction: column;
}



 #song-list {
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 3px;
    outline: none;
    border: none;
    display: flex;
    background-color: #291b07;
}
​

#song-list option {
    color: black;
}

option:checked {
  color: #222;
    box-shadow: 0 0 10px 100px #ffffff inset;
}


.song-play-bar {
    margin-bottom: 15px;
    display: flex;
    JUSTIFY-CONTENT: space-between;
}

 .hide{
  display: none;
}



.song-play-bar button{
  color: white;
}

#play-song-button {
    height: 100%;
    padding: 5px 15px;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: 800;
    font-size: 14px;
    background-color: #25090d;
}

#stop-song-button {
    height: 100%;
    padding: 5px 15px;
    color: white;
    font-weight: 800;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #25090d;
}

#next-song-button {
    color: white;
    font-weight: 800;
    font-size: 14px;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    background-color: #25090d;
}

#prev-song-button {
    color: white;
    font-weight: 800;
    font-size: 14px;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    background-color: #25090d;
}
​












