.song-library-container{
  width: 260px;
  height: 250px;
  border: 1px solid black;
  margin: auto;
  background: #3e3224;
position: relative;
display: flex;
justify-content: center;


}

.song-library{
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

#song-list{
  background: white;
  width: 100%;
  height: 70%;
  rows: 4;
  columns: 50;
  resize: none;
}

.song-play-bar{
  width: 100%;
  height: 30%;
  margin: auto;
  border: 1px solid green;
  color: white;
  bottom: 0;
  display: flex;
}

 .hide{
  display: none;
}



.song-play-bar button{
  color: white;
}

#play-song-button{
  width: 25%;
  height: 100%;
  background: green;
}

#stop-song-button{
  width: 25%;
  height: 100%;
  background: maroon;
}

#next-song-button{
  width: 25%;
  height: 100%;
  color: black;
  background:white;
  border: 1px solid black;
  font-weight: 800;
  font-size: 14px;
}

#prev-song-button{
  width: 25%;
  height: 100%;
  color: black;
background:white;
  border: 1px solid black;
  font-weight: 800;
  font-size: 14px;
}


