.plucked1 {
  -webkit-animation-name: vibrate1;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 0.3;
  animation-name: vibrate1;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}

@keyframes vibrate1 {
  0% {
    top: 23px;
  }
  20% {
    top: 33px;
  }
  70% {
    top: 20px;
  }
}

.plucked2 {
  -webkit-animation-name: vibrate2;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 0.3;
  animation-name: vibrate2;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}

@keyframes vibrate2 {
  0% {
    top: 72px;
  }
  20% {
    top: 82px;
  }
  70% {
    top: 69px;
  }
}


.plucked3 {
  height: 2px;
  z-index: 20;
  -webkit-animation-name: vibrate3;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 0.3;
  animation-name: vibrate3;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}
@keyframes vibrate3 {
  0% {
    top: 123px;
  }
  20% {
    top: 133px;
  }
  70% {
    top: 120px;
  }
}


.plucked4 {
  height: 2px;
  z-index: 20;
  -webkit-animation-name: vibrate4;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 0.3;
  animation-name: vibrate4;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}

@keyframes vibrate4 {
  0% {
    top: 172px;
  }
  20% {
    top: 182px;
  }
  70% {
    top: 169px;
  }
}




.string1 {
  background-image: url("data:image/gif;base64,R0lGODdhAgAIAOMQAB0aFSUfDyooKTUxJkA6Gk9EJFlPLFRRSGtnZnNpUHRvXIF3bY+Ifp6Xh7Gunby4rywAAAAAAgAIAAAEDHAERV5xpiW20BFABAA7");
  position: absolute;
  top: 23px;
  left: 45;
  width: 100%;
  height: 4px;
  z-index: 100;
  opacity: 0.6;
}

.string3 {
  background-image: url("data:image/gif;base64,R0lGODdhAgAIAOMQAB0aFSUfDyooKTUxJkA6Gk9EJFlPLFRRSGtnZnNpUHRvXIF3bY+Ifp6Xh7Gunby4rywAAAAAAgAIAAAEDHAERV5xpiW20BFABAA7");
  position: absolute;
  top: 123px;
  left: 45;
  width: 100%;
  height: 4px;
  z-index: 100;
  opacity: 0.6;
}

.string2 {
  background-image: url("data:image/gif;base64,R0lGODdhAgAIAOMQAB0aFSUfDyooKTUxJkA6Gk9EJFlPLFRRSGtnZnNpUHRvXIF3bY+Ifp6Xh7Gunby4rywAAAAAAgAIAAAEDHAERV5xpiW20BFABAA7");
  position: absolute;
  top: 72px;
  left: 45;
  width: 100%;
  height: 4px;
  z-index: 100;
  opacity: 0.6;
}

.string4 {
  background-image: url('data:image/gif;base64,R0lGODdhAgAIAOMQAB0aFSUfDyooKTUxJkA6Gk9EJFlPLFRRSGtnZnNpUHRvXIF3bY+Ifp6Xh7Gunby4rywAAAAAAgAIAAAEDHAERV5xpiW20BFABAA7');
  position: absolute;
  top: 172px;
  left: 45;
  width: 100%;
  height: 4px;
  z-index: 100;
  opacity: 0.6;
}
